*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif, Helvetica;
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(194, 155, 65);
    position: fixed; 
    z-index: 2; 
    top: 0px; 
    left: 0px;
}
#navMenu{
    display: none;
    margin-right: 1em;
}
#navMenu > span{
    display: block;
    width: 2em;
    height: 4px;
    border-radius: 999px;
    background-color: #111;
}
#navMenu > span:not(:last-child){
    margin-bottom: 7px;
}
#navMenu, #navMenu > span{
    transition: all .4s ease-in-out;
}
#navMenu.active{
    transition-delay: .8s;
    transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2){
    width: 0;
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3){
    transition-delay: .4s;
}
#navMenu.active > span:nth-child(1){
    transform: translateY(9px);
}
#navMenu.active > span:nth-child(3){
    transform: translateY(-13px) rotate(90deg);
}
nav img{
    margin: 1em;
}
nav ul{
    margin: 0;
}
nav ul li{
    display: inline-block;
    margin: 0 1em;
    font-size: 1.3em;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: .5s;
    padding: .5em;
    font-family: 'Montserrat', sans-serif;;
}
nav ul li a:hover{
    color: #a52a2a;
}
main{
    height: 90vh;
}
main article h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.image-content{
    background-image: url('https://cdn.pixabay.com/photo/2020/07/18/16/29/coffee-5417663_1280.png');
    background-position: center;
    padding: 2.5em;
}
.image-content .home-about-us h2{
    color: white;
    padding: 1em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: right;
    font-size: 2em;
}
.image-content .home-about-us p{
    color: white;
    font-size: 1.3em;
    text-align: right;
    font-family: sans-serif;
}
.image-content .home-about-us{
    transition: .5s;
    padding: .5em;
}
.image-content .home-about-us:nth-child(1){
    padding-top: 3em;
   }
.image-content .home-about-us:nth-child(2) h2{
    text-align: left;
}
.image-content .home-about-us:nth-child(2) p{
    text-align: left;
}
.image-content .home-about-us:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.page-background{
    background: url("https://cdn.pixabay.com/photo/2016/11/18/14/05/brick-wall-1834784_1280.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding-bottom: 2em;
}
#our-products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product{
    backdrop-filter: blur(.3em) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    padding: 1.5em;
    width: 250px;
    margin: 1em;
    color: #fff;
}
.product h2, h3, p{
    text-align: center;
    margin-bottom: .5em;
    font-family: "Montserrat", sans-serif;
}
.product h4{
    text-align: center;
    font-size: 1.8em;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
.product input{
    box-sizing: border-box;
    font-size: 1.1em;
    margin-left: 20%;
    margin-top: 1em;
    width: 150px;
    height: 4em;
    color: white;
    background-color: #c29b41;
    border: 1px solid #6e4024;
    border-radius: 20px;
    transition: .5s;
}
.product input:hover{
    background-color: #6e4024;
    cursor: pointer;
    transform: scale(1.15);
}
#order{
    border: 3px solid #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0;

}
#order h2{
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: lighter;
    font-family: 'Open Sans';
}
#order form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#order form input[type="text"], input[type="tel"]{
    margin: 1em;
    width: 20em;
    height: 3em;
    text-align: center;
    border: 2px solid #7c5036;
    border-radius: 10px;
}
#order form input[type="button"]{
    padding: 1em;
    margin: 1.5em;
    color: white;
    font-size: 1.1em;
    background-color: #c29b41;
    border: 1px solid #8e5637;
    border-radius: 20px;
    transition: .5s;
}
#order form input[type="button"]:hover{
    background-color: #6e4024;
    cursor: pointer;
    transform: scale(1.15);
}
footer{
    background-color: #6e4024;
    height: 100px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.add-to-cart-info{
    width: 100%;

    opacity: 0;
    display: none;
    position: fixed;
    top: 15vh;
    left: 0;

    background-color: rgba(124, 80, 54, 0.8);
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;

    font-size: 2em;
    padding: 1em;

    z-index: 3;
    transition: 1s;
    text-align: center;
}

input:invalid{
    animation: shake .3s;
}
@keyframes shake {
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}
@media (max-width: 650px){
    /*
   nav{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
   }
   nav img{
    display: none;
   }
   nav ul li{
    display: block;
   }
   nav ul li a{
    font-size: 1.5em;
    line-height: 3.5em;
   }
   nav input{
    color: white;
    display: block;
    position:absolute;
    top: 30px;
    right: 50px;
    font-size: 2.5em;
    background: none;
    border: none;
   }*/
   .image-content .home-about-us:nth-child(1){
    padding-top: 8em;
   }
   nav ul li{
    margin: 1em;
    font-size: 2em;
    text-align: center;
   }
   .image-content{
    padding: 0;
   }
   .page-background{
    background: url("https://cdn.pixabay.com/photo/2016/11/18/14/05/brick-wall-1834784_1280.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    }
    .image-content .home-about-us:nth-child(1){
        padding-top: 7em;
       }
}